<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">

        {% include "partials/_navbar.html.twig" %}

        {% include "partials/_flashes.html.twig" %}

        {% block body %}{% endblock %}


    </div>
    </body>
</html>
